
<mat-form-field>
    <mat-label>year</mat-label>
    <mat-select [(value)]="year" (valueChange)="loadVehicleList()">
      <mat-option *ngFor="let year of yearList" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
      <mat-label>make</mat-label>
      <mat-select [(value)]="make" (valueChange)="loadVehicleList()">
        <mat-option *ngFor="let make of makeList" [value]="make">
          {{make}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>fuel</mat-label>
        <mat-select [(value)]="fuel" (valueChange)="loadVehicleList()">
          <mat-option *ngFor="let fuel of fuelList" [value]="fuel.id">
            {{fuel.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <button (click)="loadVehicleList()" mat-button>Refresh</button>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.year}} </td>
      </ng-container>
      <ng-container matColumnDef="make">
          <th mat-header-cell *matHeaderCellDef> Make </th>
          <td mat-cell *matCellDef="let vehicle"> {{vehicle.make}} </td>
        </ng-container>
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = getPaginatorData($event)" [pageSizeOptions]="pageSizeOptions"></mat-paginator>